h1
{
	color: white
}

body 
{
	background-color: #404040
}

h2
{
	color: white
}

#Carte

{

 width: 800px;

margin:0 auto;

background-color: #404040;

text-align: center;

align-content: center;

}	

p
{
	color: white
}

body 
{
	color: white
}

a
{
	color: green;
}